[Unit]
Description=Raspberry Pi fan control

[Service]
Type=simple
User=CHANGEME
ExecStart=/usr/sbin/pi-fan-control -start 66 -stop 60 -timeout 30 -thermal /sys/class/thermal/thermal_zone0/temp -gpio 2
Restart=always
KillSignal=SIGQUIT

[Install]
WantedBy=default.target
